.flex {
    display: flex;
    flex-wrap: wrap;
    --gap: 0px;

    @include resp {
        @for $var from $flex-min-col to ($flex-max-col + 1) {
            &-#{$var} {
                flex-basis: calc(
                    #{100% * $var / $flex-max-col} - var(--gap, 0)
                );
            }
        }
        &-gap {
            @for $var from $flex-min-gap to $flex-max-gap {
                &-#{$var} {
                    --gap: #{ptr($var * 1px)};
                }
            }
        }
        &-row {
            flex-direction: row;
            &-reverse {
                flex-direction: row-reverse;
            }
        }
        &-column {
            flex-direction: column;
            &-reverse {
                flex-direction: column-reverse;
            }
        }
        &-nowrap {
            flex-wrap: nowrap;
        }
        &-align {
            &-stretch {
                align-items: stretch;
            }
            &-start {
                align-items: flex-start;
            }
            &-center {
                align-items: center;
            }
            &-end {
                align-items: flex-end;
            }
            &-content {
                &-stretch {
                    align-content: stretch;
                }
                &-start {
                    align-content: flex-start;
                }
                &-center {
                    align-content: center;
                }
                &-end {
                    align-content: flex-end;
                }
            }
        }
        &-justify {
            &-around {
                justify-content: space-around;
            }
            &-between {
                justify-content: space-between;
            }
            &-left {
                justify-content: flex-start;
            }
            &-center {
                justify-content: center;
            }
            &-right {
                justify-content: flex-end;
            }
        }
    }
}
