.rotate {
    @for $var from 0 to 361 {
        &-#{$var} {
            transform: rotate(#{$var}deg);
            --rotate: #{$var}deg;
        }
        &-Y-#{$var} {
            transform: rotateY(#{$var}deg);
            --rotateY: #{$var}deg;
        }
        &-X-#{$var} {
            transform: rotateX(#{$var}deg);
            --rotateX: #{$var}deg;
        }
        &-Z-#{$var} {
            transform: rotateZ(#{$var}deg);
            --rotateZ: #{$var}deg;
        }
    }
}
