.text {
    @include resp {
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
        &-justify {
            text-align: justify;
        }

        &-decoration {
            &-none {
                text-decoration: none;
            }
            &-through {
                text-decoration: line-through;
            }
            &-underline {
                text-decoration: underline;
            }
            &-overline {
                text-decoration: overline;
            }
        }
        &-capitalize {
            text-transform: capitalize;
        }
        &-uppercase {
            text-transform: uppercase;
        }
        &-lowercase {
            text-transform: lowercase;
        }
        &-white-space {
            &-normal {
                white-space: normal;
            }
            &-nowrap {
                white-space: nowrap;
            }
            &-pre {
                white-space: pre;
            }
            &-pre-line {
                white-space: pre-line;
            }
            &-pre-wrap {
                white-space: pre-wrap;
            }
        }
    }
}
